/* General Styles */
body {
  background-color: #f0f0f0;
}

/* Navbar Styles */
.navbar-styles {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

/* Hero Section Styles */
#hero-section {
  min-height: 70vh;
  width: 80vw;
  margin: 5% 0 0 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

/* Button Styles */
.resume-button {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  border: none;
  height: 3.5rem;
  width: 7rem;
  border-radius: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}

.resume-button:hover {
  color: white;
  opacity: 0.8;
  border: 1px solid black;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  #hero-section {
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 90vw;
      margin: 5% auto;
  }
  .resume-button {
      height: 3rem;
      width: 6rem;
  }
}
